<%= form_for(@p_comment, :html => {multipart: true}) do |f| %>
  <% if @p_comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@p_comment.errors.count, "error") %> prohibited this p_comment from being saved:</h2>

      <ul>
      <% @p_comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :project_id %><br />
    <%= f.number_field :project_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :comment %><br />
    <%= f.text_field :comment %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
