<%= form_for([@user_group, @group_member]) do |f| %>


  <div class="field">
    <%= f.label :user_group_id %><br />
    <%= f.text_field :user_group_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
